Test_Example/REAL/6BJS.mrc filter=lfs diff=lfs merge=lfs -text
Test_Example/REAL_Vote/5WCB.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/ filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX filter=lfs diff=lfs merge=lfs -text
Test_Example/SIMU_MIX/5J70.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS_map.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS.stride filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJSPhase2_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJSPhase1_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCB_final_pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/Fold0_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/Fold4_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/Final filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/Fold1_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/Fold2_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCBFinal_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCB.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCB.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCB.stride filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCB.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/Fold3_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/5WCB.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/Fold1_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/Fold4_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/Final filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/Fold0_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/Fold2_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/Fold3_Model_Result filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/5WCB_final_pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/5WCB.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result/5WCB.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8Phase1_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8_map.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8Phase2_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result_WithPDB/6CG8.stride filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5KPhase2_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K.stride filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K_map.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5KPhase1_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_WithPDB/5T5K_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70Phase1_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70Phase2_report.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70.stride filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result_WithPDB/5J70.mrc filter=lfs diff=lfs merge=lfs -text
redict_Example/SIMU10/Predict_Result/* filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result_W/* filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/5T5K_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/5T5K_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/5T5K_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/5T5K.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/5T5K.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU10/Predict_Result/5T5K.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/5J70_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/5J70.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/5J70.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/5J70.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/5J70_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU_MIX/Predict_Result/5J70_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/Phase1 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/Phase2 filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/6CG8.input filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/6CG8.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/6CG8_phase1pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/6CG8_phase2predT.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/6CG8_phase2pred.txt filter=lfs diff=lfs merge=lfs -text
Predict_Example/SIMU6/Predict_Result/6CG8.trimmap filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result/6BJS.mrc filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL/Predict_Result_WithPDB/6BJS filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/ filter=lfs diff=lfs merge=lfs -text
Predict_Example/REAL_Vote/Predict_Result_WithPDB/5WCB filter=lfs diff=lfs merge=lfs -text
